
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form action="/home/index" method="post" style="background-color:paleturquoise;border-color:crimson;border-width:thick">
        <h1>Ganz toller Web-Rechner 🎸</h1>
        <input type="number" value="@ViewBag.Ergebnis" name="inpWert1" />
        <br />
        <input type="number" value="" name="inpWert2" />
        <br />
        <input type="hidden" value="@ViewBag.LogString" name="inpLog" />
        <br />
        <button type="submit" name="btnSubmit" value="Add">Add</button><br/>
        <button type="submit" name="btnSubmit" value="ShowLog">Show Log</button>
    </form>
    @if (@ViewBag.ShowLog == true)
    {
        <textarea rows="11" maxlength="111" style="background-color:paleturquoise;border-color:crimson;border-width:thick">@ViewBag.LogString</textarea>
    }
</body>
</html>
